body{
  font-family: Montserrat, sans-serif;
  background: #28223f;
}
.container{
  user-select: none;
  margin: 40px auto;
  background: #231e39;
  color: #b3b8cd;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}
.cover-photo{
  background: url(../img/tanvir1.jpg);
  background-position: center;
  background-size: cover;
  height: 165px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 1.4px solid cyan;
  padding: 6px;
  background: #231E39;
  border-top: rgba(0, 0, 0, 0.5);
  border-right: rgba(0, 0, 0, 0.5);
}
.profile-name{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 150px;
}
.nick-name{
  color: #6b62b9;
  font-size: 15px;
  margin: 0 0 0 275px;
  font-weight: bolder;
}
.intro{
  font-size: 12px;
  margin-top: 25px;
  line-height: 21px;
}
.button{
  margin: 10px 0 20px 0;
  text-decoration: none;
  display: inline-block;
}
.msg-btn, .follow-btn{
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.follow-btn{
  margin-left: 10px;
  background: transparent;
  color: #02899c;
}
.follow-btn:hover{
  color: #231e39;
  background: #03bfbc;
  transition: .5s;
}
.msg-btn:hover{
  color: #03bfbc;
  background: #231e39;
  transition: .5s;
}
.container .info{
  position: absolute;
  margin: 0 0 0 0;
}
.icon{
  cursor: pointer;
  margin: 10px;
  transition: .5s;
  color: #FF7F50;
  font-size: 18px;
  text-decoration: none;
}
.icon:hover{
  color: cyan;
}
.skill {
	margin: 5px 0;
	text-transform: uppercase;
  border-bottom: 1px solid cyan;
}
.skills {
  background-color: #28223F;
  color: white;
	text-align: left;
	padding: 5px 10px 10px 10px;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px;
	border-radius: 4px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  background-color: #E9967A;
}
